.container {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
  border: 2px solid #333;
  /* justify-content: space-evenly; */
  /* align-items: stretch; */
  align-content: space-evenly;
}
.container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 100px;
}