.container {
  display: flex;
  background-color: #f1f1f1;
  height: 200px;
}

.container > div {
  background-color: dodgerblue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 75px;
}
